.header-img {
height: 100px;;
}

.header-img img {
    max-height: 100%;
    width : 100%;
    object-fit: cover;
    object-position: bottom;
}

/* Badge environnement */
.env-badge {
    display: inline-block;
    padding : 10px 0px;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    text-transform: uppercase;
  }
  
  /* Couleurs selon l'environnement */
  .env-prod {
    background-color: #28a745; /* vert */
  }
  
  .env-test {
    background-color: #ffc107; /* jaune */
  }
  
  /* Header layout */
  .app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
 
  