.image-dropdown-container {
	position: relative;
	width: 100%;
}

.image-dropdown-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
}

.selected-image {
	width: 120px;
	height: 80px;
	border-radius: 5px;
	object-fit: cover;
	margin-right: 10px;
}

.image-dropdown-options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	z-index: 10;
	max-height: 300px;
	overflow-y: auto;
	display: grid; /* Utilisation de la grille */
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Ajuster selon le besoin */
	gap: 20px; /* Espace entre les images */
	padding: 10px; /* Ajouter un padding pour éviter que les images touchent les bords */
}

.image-dropdown-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	cursor: pointer;
	border: none; /* Supprimer la bordure */
}

.image-dropdown-option:hover {
	background-color: #f0f0f0;
	border-radius: 5px; /* Arrondir les bords sur hover */
}

.thumbnail {
	width: 100px; /* Ajuster la taille des vignettes */
	height: 80px;
	border-radius: 5px;
	object-fit: cover;
	margin-bottom: 5px;
}

.image-dropdown-option p {
	font-size: 0.8rem; /* Taille de la police des légendes */
	text-align: center;
}
