.background-violet {
	background-color: violet;
	color: white;
	padding: 5px;
}

.background-gray {
	background-color: gray;
	color: white;
	padding: 5px;
}

.background-green {
	background-color: green;
	color: white;
	padding: 5px;
}

.status {
	font-size: 0.8rem;
	font-style: italic;
}

.section-input-tags {
	position: relative;
	display: "flex";
	flex-direction: column;
}
/* Conteneur des tags */
.bloc-input-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	min-height: 35px;
	max-width: 100%; /* Empêche le conteneur de dépasser */
	overflow: hidden; /* Cache les débordements */
	box-sizing: border-box;
}

/* Tag individuel */
.selected-tag-item {
	background: #007bff;
	color: white;
	padding: 5px 5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
	max-width: 100%; /* Assure que le tag ne déborde pas */
	box-sizing: border-box; /* Prend en compte le padding dans la largeur */
	overflow: hidden;
	text-overflow: ellipsis; /* Troncature du texte si nécessaire */
	white-space: nowrap; /* Empêche les tags de se casser sur plusieurs lignes */
}

.input-tags {
	border: none;
	outline: none;
	align-items: center;
}

.dropdown-tags {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid #ccc;
	background-color: "#fff";
	max-height: 200px;
	z-index: 10;
	border-radius: 5px;
	margin-top: 2px;
}

.dropdown-tag-item {
	padding: 8px;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
	background-color: #f8f8f8;
}
